SECRET_KEY = 'secret-key'

DEBUG = True

TIME_ZONE = 'UTC'

BASE_URL = 'http://127.0.0.1:8000'

# DataBase
DATABASE_ENGINE = 'django.db.backends.mysql'
DATABASE_NAME = '' # database name
DATABASE_USER = ''
DATABASE_PASSWORD = ''
DATABASE_HOST = '' # database host
DATABASE_PORT = '' # port